/*html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
body {
    background-color: black !important;
    margin: 0;
}

.center {
    max-width: 1440px;
    margin: 0 auto !important;
    float: none !important;

}

/* logo */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

/*.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

.justify-between {
    justify-content: center;
}
*/
.logo {
    flex: 1;
}

.navbar-logo {
    font-weight: bold;
    color: #f9faff;
    margin: 16px;
}

.navbar {
    background-color: #1f2937;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 250px;
    padding-right: 250px;
    height: max-content;
    width: 1440px;
    flex: 1 1 auto;
    justify-content: space-between;
    display:inline-flex;
}

.navbar-text {
    color:#f9faff;
    font: 18px; 
    margin: 16px;
}

.navbar-link-box {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
    align-items: flex-end;
}

a.head-link:hover {
    background-color: blue;
}

.top-section {
    background-color: #1f2937;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 75px;
    padding-bottom: 100px;
    margin: 0;
    width: 1440px;
    height: max-content;
    flex: 1 1 auto;
    display: inline-flex;

}

.introduction-text {
    margin: 32px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    margin: -4px;
    color: #f9faff;
}

.hero-secondary {
    color: hsl(231, 5%, 75%);
    margin: 12px 0px;
    font: 18px;
}

.button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 24px;
    width: 50%;
}

.button2 {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 24px;
    width: 25%;
}

.mid-section1 {
    background-color: #f9faff;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 0px;
    padding-bottom: 100px;
    margin: 0;
    width: 1440px;
    height: max-content;
    display:inline-flex;
    flex-direction: column;
    flex: 1;
}

.mid-section1-title {
    text-align: center;
    font-size: 36px;
    margin: 50px;
    font-weight: 800;
    color: #050A30;
}

.mid-section1-boxes {
    display: inline-flex;
    justify-content: center;
    gap: 32px;
    height: max-content;
}

.project-container {
    height:max-content;
}

.mid-link {
    display:inline-flex;
    justify-content: center;
    height: max-content;
}

.project-image {
    border-radius: 25px;
    border: 2px solid blue;
    padding: 20px; 
    width: 200px;
    height: 200px; 
}

.mid-section2 {
    background-color: #E5E7EB;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
    width: 1440px;
    height: max-content;
    flex: 1 1 auto;
}

.quote-box {
    display:inline-flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    margin: 0px;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    color: #050A30;
    text-align: right;
}

.mid-section3 {
    background-color: #f9faff;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    width: 1440px;
    height: max-content;
    flex: 1 1 auto;
    display:inline-flex;
    justify-content: center;
}

.bottom-section {
    background-color: #1f2937;
    padding: 30px;
    width: 1440px;
    height: max-content;
    flex: 1;
}

.action-title {
    font: 24px;
    font-weight: bold;
    color: #f9faff;
    margin: 0px;
}

.action-text {
    color:#f9faff;
    font: 18px;
    margin: 0px;
}

.action_text button{
    border:#f9faff;
}

.action-box {
    background-color: #3882f6;
    border-radius: 25px;
    width: 1000;
    height: 300;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: space-between;
}