/*html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

/*.body {
    display: flex;
    flex-direction: column;
}

/* logo */

* {
    box-sizing: border-box;
  }

/*.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

.justify-between {
    justify-content: center;
}
*/
.logo {
    flex: 1;
}

.header-logo {
    font: 24px;
    font-weight: bold;
    color: #f9faff;
}

.header {
    background-color: #050A30;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 250px;
    padding-right: 250px;
    height: max-content;
    width: 1440px;
    flex: 1 1 auto;
    justify-content: space-between;
    display:inline-flex;
}

.header-text {
    color:#f9faff;
    font: 18px; 
    margin: 16px;
}

.header-link-box {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

a.head-link:hover {
    background-color: blue;
}

.top-section {
    background-color: #050A30;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 0;
    width: 1440px;
    height: max-content;
    flex: 1 1 auto;
    display: inline-flex;

}

.introduction-text {
    margin: 32px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    margin: -4px;
    color: #f9faff;
}

.hero-secondary {
    color:#f9faff;
    font: 18px
}
/*
button
*/

.mid-section1 {
    background-color: cornsilk;
    padding: 30px;
    width: 1440px;
    height: max-content;
    flex: 1 1 auto;
}

/*mid-section1-title

mid-section1-boxes

mid-link

mid-link-text
*/

.mid-section2 {
    background-color: darkgray;
    padding: 30px;
    width: 1440px;
    height: max-content;
    flex: 1 1 auto;
}

.bottom-section {
    background-color: blue;
    padding: 30px;
    width: 1440px;
    height: max-content;
    flex: 1 1 auto;
}
/*
action-text

action-box */